@model Anduin.FlyClass.Entities.Site

@{
    ViewData["Title"] = "删除校区";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">确定要删除这一项吗?注意！删除一个校区，会删除掉整个校区所有的教学历史！这非常危险！</h3>
<div>
    <h4>校区</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
