@{
    ViewData["Title"] = "关于";
}
<h1>@ViewData["Title"]</h1>

<h3>更新历史</h3>


<h4>1.0.2</h4>
<ul>
    <li>重构前端代码：使用npm加载依赖。</li>
    <li>完善了大量本地化。</li>
    <li>修正了一些UI的细节问题。</li>
</ul>

<h4>1.0.1</h4>
<ul>
    <li>现在具有管理员权限的人将同时具有审批权限。</li>
    <li>管理员现在可以重置任何用户的密码了。</li>
</ul>

<h4>1.0.0</h4>
<ul>
    <li>系统上线。</li>
</ul>
