@model Anduin.FlyClass.Models.TeachEvent

@{
    ViewData["Title"] = "创建";
}

<h1>@ViewData["Title"]</h1>

<h4>教学历史</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventTime" class="control-label"></label>
                <input asp-for="EventTime" class="form-control" />
                <span asp-validation-for="EventTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Times" class="control-label"></label>
                <input asp-for="Times" class="form-control" />
                <span asp-validation-for="Times" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassTypeId" class="control-label"></label>
                <select asp-for="ClassTypeId" class="form-control" asp-items="ViewBag.ClassTypeId"></select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label asp-for="IsApproved">
                            <input asp-for="IsApproved" />
                            @Html.DisplayNameFor(m => m.IsApproved)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

