@model FlyClass.Models.MoneyMap

@{
    ViewData["Title"] = "创建新的课时费规则";
}

<h1>@ViewData["Title"]</h1>
<h3 class="text-danger">确定要新增一项吗？新增重复的设置会导致教师无法正确提交自己的教学历史！</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label"></label>
                <select asp-for="LevelId" class ="form-control" asp-items="ViewBag.LevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassTypeId" class="control-label"></label>
                <select asp-for="ClassTypeId" class ="form-control" asp-items="ViewBag.ClassTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建规则" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回规则设置</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
